/*!
 * ress.css • v1.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Specify media element style
   # ================================================================= */

/**
 * 1. Remove border when inside `a` element in IE 8/9/10

 * 1. IE8/9/10に、a要素の中にある時にボーダーを削除。
 */
img {
  border-style: none; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera

 * 1. Chrome, Firefox, Operaに、正しいvertical-alignを与える。
 */
progress {
  vertical-align: baseline;
}

/**
 * 1. Internet Explorer 11-

 * 1. Internet Explorer 11-
 */
svg:not(:root) {
  overflow: hidden; /* 1 */
}

/**
 * 1. Internet Explorer 11+, Windows Phone 8.1+

 * 1. Internet Explorer 11+, Windows Phone 8.1+
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
}