/*!
  * ress.css • v1.0.1
  * MIT License
  * github.com/filipelinhares/ress
  */

/* # =================================================================
   # Selection
   # ================================================================= */

/**
 * Specify text selection background color and omit drop shadow

 * テキスト選択時の背景色を指定し、ドロップシャドウを削除。
 */

/**
 * 1. Required when declaring ::selection

 * 1. 「::selection」を使用する時に必要。
 */
::-moz-selection {
  background-color: #b3d4fc; /* 1 */
  color: #fff;
  text-shadow: none;
}

/**
 * 1. Required when declaring ::selection

 * 1. 「::selection」を使用する時に必要。
 */
::selection {
  background-color: #b3d4fc; /* 1 */
  color: #fff;
  text-shadow: none;
}